:root{
    --primary-text-color: #212121;
    --hero-text-color: #F5F5F5;
    --accet-text-color: #757575;
    --logo-blue-color:#2196F3;
    --primary-background-color:#FFFFFF;
    --additional-background-color:#F5F4FA;
    --accent-background-color:#2F303A;
}

body{
    color: var(--primary-text-color);
    background-color: #F5F5F5;
    font-family: 'Roboto' 'open sans';}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
} 

/* header */
.header{
    background-color: var(--primary-background-color);
    font-family: 'Roboto';
}
.logo-link{
    color:var(--logo-blue-color); 
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.accent-black{
    color: var(--primary-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.accent-black:hover {
    color:var(--logo-blue-color);                                    
}

/* Site navigaion */
.site-nav-list{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}

.site-nav-list,.logo-link-studio-white,.link-address,.link:hover,
.site-nav-list,.logo-link-studio-white,.link-address,.link:focus{
    color:var(--logo-blue-color); 
    text-decoration: none;                                      
}

.site-nav-list .link.current{
    color: var(--logo-blue-color);
}
/* Site autharisation */
.auth-nav-list, .auth-link:hover
.auth-nav-list, .auth-link:focus{
    color:var(--logo-blue-color);        
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}

.auth-nav-list .auth-link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.auth-nav-list,.auth-link:hover,
.auth-nav-list,.auth-link:focus{
    color:var(--logo-blue-color);                                       
}

/*hero*/
.hero{
    background-color: var(--accent-background-color);
    font-family: 'Roboto';
}
.hero-title{
    font-family: 'Roboto';
    color: var(--hero-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: calv(60/44);
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    }

/*button*/

.button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--hero-text-color);
    background-color: var(--logo-blue-color);
    letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
    color: var(--logo-blue-color);
}

/*benefits*/
.benefits{
    font-family: 'Roboto';
    background-color: var(--primary-background-color);
}
.benefits-title{
    color: var(--primary-text-color);
    background-color: #F5F5F5;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: var(--primary-background-color);

}
.benefits-descriptions{
    font-family: 'Roboto';
    color: #757575; 
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: var(--primary-background-color);

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*examples*/

.examples{
    background-color: var(--primary-background-color);

}
.examples-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
}

.examples-ul{

}

.examples-image{

}

/*our-team*/
.our-team{
    font-family: 'Roboto';
    background-color: var(--additional-background-color);
}

.our-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--primary-background-color);
}
.team-member-name{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    background-color: var(--primary-background-color);

}

.team-member-posiion{
    color:#757575;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    background-color: var(--primary-background-color);

}
/*footer*/
.footer{
    font-family: 'Roboto';
    background-color:#2F303A;
}

/*address*/
.accent-white{
    color:var(--hero-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
}

.accent-white:hover {
    color:var(--logo-blue-color);                                    
}

.link-address-address{
    color: var(--hero-text-color);
    font-size: 14px;
    line-height:calc(24/14);
    letter-spacing: 0.03em;
}

.link-address{
    color: var(--hero-text-color);
    font-size: 14px;
    line-height:calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


/* -----portfolio----*/


